/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: green;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 50px;
    margin-right: 20px;
}

nav {
    background-color: #333;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 0 10px; /* Espacio entre elementos del menú */
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    padding: 20px;
}

footer {
    background-color: green;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer .social-media {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.footer .social-media img {
    height: 30px;
    width: 30px;
}

/* Media Queries */
@media (max-width: 600px) {
    header img {
        height: 40px;
    }

    .menu {
        flex-direction: column;
    }

    .menu li {
        margin: 5px 0;
    }

    .menu a {
        padding: 10px;
    }

    .container {
        padding: 10px;
    }
}
/* Dentro de tu archivo CSS, agrega estas reglas dentro de la media query para dispositivos móviles */
@media (max-width: 600px) {
    /* Ajustar el ancho de la imagen para dispositivos móviles */
    #inicio img {
        width: 100%; /* La imagen ocupará todo el ancho del contenedor padre */
        height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    }
}

/* Estilos específicos para la galería de imágenes */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    width: 100%;
    max-width: 1200px;
}

.gallery-item {
    text-align: center;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
/* Estilo para el fondo difuminado */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(imagenes/40263.jpg); /* Cambia la ruta por la de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: right top; /* Centra la imagen en el contenedor */
    backdrop-filter: blur(5px); /* Aplica un efecto de desenfoque al fondo */
    z-index: -1; /* Coloca el fondo detrás del contenido principal */
}
/* Estilo para el logo */
header img {
    height: 20px; /* Ajusta la altura del logo */
    margin-right: 40px; /* Ajusta el margen derecho para mover el logo hacia la derecha */
}