

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #d2b795, #48674d); /* Fondo con degradado */
    color: #333;
    position: relative; /* Posición relativa para el pseudo-elemento ::before */
}

/* Estilos del encabezado */
header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos de la navegación */
.nav-link {
    font-size: 1.2rem;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #007bff; /* Cambio de color al pasar el mouse */
}

/* Estilos de los elementos del menú */
.nav-item {
    transition: all 0.3s ease; /* Transición suave */
}

/* Efecto al pasar el mouse sobre los elementos del menú */
.nav-item:hover {
    transform: translateY(-3px); /* Desplazamiento hacia arriba */
    color: #007bff; /* Cambio de color al pasar el mouse */
}

/* Estilos de los botones */
.btn-primary {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3; /* Cambio de color al pasar el mouse */
}

/* Estilo para las tarjetas */
.card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* Efecto de escala al hacer hover sobre la tarjeta */
.card:hover {
    transform: scale(1.05);
}

/* Estilo para el contenido de las tarjetas */
.card-body {
    padding: 20px;
    text-align: center;
}

/* Estilo para los títulos de las tarjetas */
.card-body h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilo para el texto de las tarjetas */
.card-body p {
    font-size: 16px;
    color: #6c757d;
}

/* Efecto de superposición al hacer hover sobre la tarjeta */
.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(212, 210, 170, 0.368);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover::after {
    opacity: 1;
}

/* Estilos del pie de página */
footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 1rem;
}

/* Estilos del botón de WhatsApp flotante */
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsapp-float i {
    margin-top: 16px;
}

.banner {
    position: fixed;
    top: 50%;
    right: -300px; /* Banner inicialmente fuera de la pantalla */
    transform: translateY(-50%);
    background-color: #668a4a; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 20px;
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
    transition: right 0.5s ease; /* Transición suave al mostrar/ocultar */
    border-radius: 10px; /* Bordes redondeados */
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.banner h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
}




/* Estilos para las redes sociales */
.redes-sociales h2 {
    margin-bottom: 1rem;
}

.redes-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.red-social {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s, color 0.3s;
}

.red-social span {
    margin-left: 0.5rem;
    font-size: 1.2rem;
}

.red-social i {
    font-size: 2rem;
    transition: color 0.3s;
}

.red-social:hover {
    transform: scale(1.1); /* Efecto de escala al pasar el mouse */
}

.red-social:hover i {
    color: #007bff; /* Cambio de color al pasar el mouse */
}

/*preguntas frecuentes*/
#faqs {
    background: #f9f9f9;
    padding: 40px 0;
}

.accordion .faq-item {
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.accordion .faq-header {
    padding: 10px 20px;
    cursor: pointer;
    background: #85b172;
    color: #fff;
    border-radius: 5px 5px 0 0;
}

.accordion .faq-header h2 {
    margin: 0;
}

.accordion .faq-header button {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    padding: 0;
}

.accordion .faq-header button:hover,
.accordion .faq-header button:focus {
    text-decoration: none;
    outline: none;
}

.accordion .faq-body {
    padding: 20px;
    border-top: 1px solid #ddd;
}

.accordion .faq-body p {
    margin: 0;
}


/* formulario */

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* borde, relleno, margen, ancho */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}


/*galeria de imagenes*/
#proyectos {
    background: transparent;
    padding: 40px 0;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
}

.project-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-item img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.project-item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-item:hover img {
    transform: scale(1.1);
}

.project-item:hover .overlay {
    opacity: 1;
}

.overlay .text {
    color: white;
    text-align: center;
    padding: 20px;
}

.overlay h5 {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: bold;
}

.overlay p {
    margin: 0;
    font-size: 14px;
}




